html{
	height: 100%;
}
.body{
	background: url(./img/ba@2.jpeg) no-repeat center;
  background-attachment: fixed;
  background-size: cover;
}
.wrap{
  margin: 0 auto;
  width: 800px;
}
@media screen and (max-width: 992px) {
  .wrap{
    width: 100%;
  }
}
h1{
	margin-top: 50px;
  text-align: center;
	font-size: 30px;
}
.content{
	background:rgb(7, 7, 7,0.4);
}
.keyIn{
	padding: 20px 20px;
  margin: 0 auto;
  width: 205px;
}
.text{
	height: 20px;
}
.button{
	height: 26px;
}
input:focus {
  outline: none;
}
.list{
	margin: 20px 60px;
  padding-bottom: 30px;
  padding-left: 0;
}
.list li{
	color: rgba(255, 255, 255, 0.877);
	padding: 15px 0;
	border-bottom: 1px solid rgb(255, 255, 255);
	font-size: 18px;
  list-style: none;
}
.delete:hover{
	color: white;
  margin-right: 5px;
}
.delete{
  text-decoration: none;
	color: red;
	font-size: 25px;
}
